<div class="container">

	<div class="row" style="margin-top: 5px">
		<div class="col-sm-4">
			<ui-select ng-model="internal.selectedTestCase" theme="selectize">
			    <ui-select-match placeholder="">{{internal.selectedTestCase.name}}</ui-select-match>
			    <ui-select-choices repeat="item in testCases | filter: $select.search">
			        <span ng-bind-html="item.name | highlight: $select.search"></span>
			    </ui-select-choices>
			</ui-select>				
		</div>
		<div class="col-sm-8">
			<label class="btn btn-primary btn-sm" ng-model="allocMsgType" uib-btn-radio="'AllocationInstruction'" btn-checkbox-true>Allocation Instruction (35=J)</label>
			<label class="btn btn-primary btn-sm" ng-model="allocMsgType" uib-btn-radio="'AllocationReport'" >Allocation Report (35=AS)</label>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<input type="text" placeholder="OnBehalfOfCompId" class="form-control" ng-model="model.data.onBehalfOfCompId" 
			uib-tooltip="On Behalf Of CompId" />
		</div>
		<div class="col">
			<ui-select ng-model="internal.selectedBuySell" theme="selectize">
			    <ui-select-match placeholder="">{{internal.selectedBuySell.value}}</ui-select-match>
			    <ui-select-choices repeat="item in buySellOpts | filter: $select.search">
			        <span ng-bind-html="item.value | highlight: $select.search"></span>
			    </ui-select-choices>
			</ui-select>				
		</div>
		<div class="col-sm">
			<input type="text" placeholder="TradeDate" class="form-control" ng-model="model.data.tradeDate"
				uib-tooltip="Trade Date (yyyyMMdd)"
           			tooltip-placement="bottom"
           			tooltip-trigger="'mouseenter'" 
           			tooltip-enable=true
			/>
		</div>
		<div class="col-sm">
			<input type="text" placeholder="SettleDate" class="form-control" ng-model="model.data.settleDate"
				uib-tooltip="Settle Date (yyyyMMdd)"
           			tooltip-placement="bottom"
           			tooltip-trigger="'mouseenter'" 
           			tooltip-enable='true'
			/>
		</div>
		<div class="col">
			<ui-select ng-model="internal.selectedSecurityIdSource" theme="selectize">
			    <ui-select-match placeholder="">{{internal.selectedSecurityIdSource.value}}</ui-select-match>
			    <ui-select-choices repeat="item in securitySourceList | filter: $select.search">
			        <span ng-bind-html="item.value | highlight: $select.search"></span>
			    </ui-select-choices>
			</ui-select>				
		</div>
		<div class="col-sm">
			<input type="text" placeholder="Security ID" class="form-control" ng-model="model.data.securityId" 
			uib-tooltip="Security ID" tooltip-placement="bottom"/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg">
			<div id="grid1" ui-grid="gridOpts" ui-grid-edit ui-grid-selection ui-grid-auto-resize class="grid"></div>
		</div>
	</div>
	<div class="row" style="margin-top: 5px">
		<div class="col-sm">
		</div>
		<div class="col-sm">
			<button class="btn btn-primary" ng-click="addData()" style="width: 100%"><i class="fa fa-plus"></i> Add new Allocation</button>
		</div>
		<div class="col-sm">
			<button class="btn btn-warning" ng-click="removeData()" style="width: 100%"><i class="fa fa-minus"></i> Remove Allocation</button>
		</div>
		<div class="col-sm">
		</div>
	</div>
	<hr/>
	<uib-accordion close-others="true">
	    <div uib-accordion-group class="panel-default" is-open="customTagStatus">
			<uib-accordion-heading ng-click="toggleOpen();">
			  Custom FIX Tags <i class="pull-right fa" ng-class="{'fa-chevron-down': customTagStatus, 'fa-chevron-right': !customTagStatus }"></i>
			</uib-accordion-heading>	    
			<div class="row">
				<div class="col-sm">
				</div>
				<div class="col-md">
					<div nf-if="customTagStatus" id="grid2" ui-grid="customTagGridOpts" ui-grid-edit ui-grid-selection ui-grid-auto-resize class="grid"></div>
				</div>
				<div class="col-sm">
				</div>
			</div>
			<div class="row" style="margin-top: 5px">
				<div class="col-sm">
				</div>
				<div class="col-sm">
					<button class="btn btn-success btn-sm" ng-click="addCustomFix()" style="width: 100%"><i class="fa fa-plus"></i> Add Custom FIX Field</button>
				</div>
				<div class="col-sm">
					<button class="btn btn-warning btn-sm" ng-click="removeCustomFix()" style="width: 100%"><i class="fa fa-minus"></i> Remove Selected</button>
				</div>
				<div class="col-sm">
				</div>
			</div>
	    </div>
    </uib-accordion>
	<hr/>
	<div class="row" style="margin-top: 5px">
		<div class="col-sm">
		</div>
		<div class="col-sm">
			<button class="btn btn-success btn-sm" ng-click="viewData()" style="width: 100%"><i class="fa fa-send"></i> Send Message</button>
		</div>
		<div class="col-sm">
			<button class="btn btn-danger btn-sm" ng-click="clearNew()" style="width: 100%"><i class="fa fa-remove"></i> Clear / New</button>
		</div>
		<div class="col-sm">
		</div>
	</div>
	<div class="row" style="margin-top: 5px">
		<div class="col-sm">
			<button class="btn btn-primary btn-sm" ng-click="" style="width: 100%"><i class="fa fa-save"></i> Update</button>
		</div>
		<div class="col-sm">
			<button class="btn btn-primary btn-sm" ng-click="" style="width: 100%"><i class="fa fa-plus-square"></i> Save as New</button>
		</div>
		<div class="col-sm">
			<button class="btn btn-primary btn-sm" ng-click="" style="width: 100%"><i class="fa fa-minus-square"></i> Remove</button>
		</div>
	</div>

</div>
