<!doctype html>
<html ng-app="fixApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="js/bootstrap-4.3.1-dist/css/bootstrap.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="js/ui-grid-4.8.1/ui-grid.css" />
	<link rel="stylesheet" href="js/ui-select-0.19.7/select.min.css" />
	<link rel="stylesheet" href="js/select2-3.4.5.css">    
	<link rel="stylesheet" href="js/selectize-0.8.5.css">
	<link rel="stylesheet" href="css/calendar.css">
	<link rel="stylesheet" href="css/FixBlotterApp.css">
	
	<script type="text/javascript" src="js/angular-1.7.8/angular.js"></script>
	<script type="text/javascript" src="js/angular-1.7.8/angular-touch.js"></script>
	<script type="text/javascript" src="js/angular-1.7.8/angular-animate.js"></script>
	<script type="text/javascript" src="js/angular-1.7.8/angular-sanitize.js"></script>
	 
	<script type="text/javascript" src="js/ui-select-0.19.7/select.min.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-3.0.6/ui-bootstrap-tpls-3.0.6.min.js"></script>

	<script type="text/javascript" src="js/ui-grid-4.8.1/ui-grid.js"></script>
	
	<script type="text/javascript" src="controllers/FixWebUI.js"></script>

	<script type="text/javascript" src="angularservices/ModalService.js"></script>

</head>

<body ng-controller="MainCtrl">

	<div style="XXbackground-color:  #DAF7A6 ;">
		<!-- 
		<div class="row" style="margin-top: 5px">
			<div class="col-sm" style="text-align: right">
				<label>Select Session:</label>
			</div>
			<div class="col-lg-8">
				<ui-select ng-model="internal.selectedFixSession" theme="selectize">
		    		<ui-select-match placeholder="">{{internal.selectedFixSession.name}}</ui-select-match>
		    		<ui-select-choices repeat="item in fixSessions | filter: $select.search">
		        		<span ng-bind-html="item.name | highlight: $select.search"></span>
		    		</ui-select-choices>
				</ui-select>				
			</div>
			<div class="col-sm" style="text-align: right; font-size: 1.5em">
				<label ng-class="debugClass" ng-click="toggleDebug();"><i class="fa fa-bug"></i></label>
			</div>
		</div>
		-->
		<uib-tabset>
			<uib-tab>
				<uib-tab-heading>
					<i class="fa fa-home"> Home</i> 
				</uib-tab-heading>
				<div style="margin: 5px">
					<h4>Welcome to the FIX Web UI</h4>
					<pre style="margin: 5px"> Here you can act as a FIX Server (a.k.a. Actuator) and send custom messages to FIX clients.</pre>
				</div>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>
					<i class="fa fa-cube"> Block Trades</i> 
				</uib-tab-heading>
				<div style="margin: 5px">
					<pre style="margin: 5px">Coming Soon...</pre>
				</div>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>
					<i class="fa fa-cubes"> Allocations</i> 
				</uib-tab-heading>
				<div ng-include="'templates/AllocationInstruction.html'"></div>
			</uib-tab>
		</uib-tabset>
						
		<div class="row" style="margin-top: 15px;" ng-show="debugMode">
			<div class="col-lg">
				<textarea rows="5" ng-model="resultFix" style="min-width: 100%">
				</textarea>
			</div>
		</div>
	
		<div class="row" style="margin-top: 15px;" ng-show="debugMode">
			<div class="col-lg">
				<textarea rows="15" json-text ng-model="model.data" style="min-width: 100%">
				</textarea>
			</div>
		</div>

	</div>
		
</body>

</html>