<div data-toggle="modal">
	<div class="modal-content">
		<div class="modal-header panel-dashboard">
			<h4 class="modal-title">Send Message</h4>
		</div>
		<div class="modal-body form-group">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<ui-select ng-model="internal.selectedFixSession" theme="selectize">
			    		<ui-select-match placeholder="">{{internal.selectedFixSession.name}}</ui-select-match>
			    		<ui-select-choices repeat="item in fixSessions | filter: $select.search">
			        		<span ng-bind-html="item.name | highlight: $select.search"></span>
			    		</ui-select-choices>
					</ui-select>				
				</div>
				<div class="col-md-1"></div>
			</div>

		</div>
		<div class="modal-footer panel-dashboard">
			<div style="width: 100%; margin: auto; text-align: center">
				<button ng-click="sendMessage()" class="btn btn-primary"><i class="fa fa-send"></i> Send Message</button>
				<button ng-click="close()" class="btn btn-warning">Close</button>
			</div>
		</div>
	</div>
</div>