.level1Tab li a {
	font-weight: bold;
}
.level1Tab li.active a {
	color: gray;
	font-weight: bold;
}

.level2Tab li a {
	color: green;
	font-weight: bold;
	background-color: #f2f4f4;
}
.level2Tab li.active a {
	color: gray;
	font-weight: bold;
}

.level3Tab li a {
	color: #734e0c;
	font-weight: normal;
}
.level3Tab li.active a {
	color: gray;
}

.level4Tab li a {
	color: #0c736e;
	font-weight: normal;
}
.level4Tab li.active a {
	color: gray;
}

.column-left{ float: left; width: 40%; padding-left: 15px;}
.column-right{ float: right; width: 20%; padding-left: 15px;}
.column-center{ display: inline-block; width: 40%; padding-left: 15px;}

body {
    /*background-image: url('../images/background.png');*/
    width: 100%;
    height: 100%;
}

.red {
	color: red;
}

.black {
	color: black;
}

.green {
	color: green;
}

.ui-grid { color: #242729; }

.ui-grid-header, .ui-grid-column-menu { color: lighten(@headerBackgroundColor, 45%); }